.containerSkill {
  width: 100%;
  background-color: #ddd;
}
.skills {
  text-align: right;
  padding: 10px;
  color: white;
}
.skills>div {
  text-align: center;
}
.p90 {
  width: 90%;
  background-color: #4CAF50;
}

.p80 {
  width: 80%;
  background-color: #2196F3;
}

.p60 {
  width: 60%;
  background-color: rgb(255, 166, 0);
}

.p70 {
  width: 70%;
  background-color: rgb(82, 170, 243);
}

.p30 {
  width: 30%;
  background-color: rgb(255, 56, 56);
}

.p10 {
  width: 10%;
  background-color: rgb(250, 28, 28);
}
