<div class="content-wrap">
  <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Secciones</span>
        <a *ngFor="let item of navItems" routerLink="{{ item.url}}">
          <span igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
              <igx-icon fontSet="material">{{ item.name }}</igx-icon>
              <span>{{ item.text }}</span>
          </span>
        </a>

      </nav>
    </ng-template>
  </igx-nav-drawer>
  <div id="contenedorPrincipal" class="contenedorPrincipal">
    <header>
      <span igxButton="icon" igxToggleAction="navigation" [closeOnOutsideClick]="false">
        <igx-icon fontSet="material">menu</igx-icon>
      </span>
      <div>
        <p>{{ title }}</p>
      </div>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

